<div class="form-container">
  <h1><%= @task.persisted? ? "Edit Task" : "New Task" %></h1>

  <% if @task.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@task.errors.count, "error") %> prevented saving this task:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @task, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 3, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, {}, { class: "datetime-select-group" } %>
    </div>

    <div class="form-group">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, include_blank: true,  class: "datetime-select-group" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, { class: "form-input" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "Save", class: "form-button" %>
    </div>
  <% end %>
</div>
