<div class="form-container">
  <h1>Change Password</h1>
  <%= form_with(model: @user, url: user_path(@user), method: :patch, local: true, html: { class: "signup-form" }) do |f| %>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@user.errors.count, "error") %> prevented updating the password:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: "form-input", autocomplete: "current-password",
                           placeholder: "Enter your current password" %>
    </div>

    <div class="form-group">
      <%= f.label :new_password %>
      <%= f.password_field :new_password, class: "form-input", placeholder: "Enter your new password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-input", placeholder: "Confirm your new password" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update Password", class: "btn btn-primary" %>
      <%= link_to "Cancel", user_path(@user), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
