<div class="form-container">
  <h1>Sign Up</h1>

  <%= form_with(model: @user, url: users_path, html: { class: "signup-form" }) do |f| %>

    <%= render "shared/errors_form", object: @user, action_message: "creating an account" %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :email_address %>
      <%= f.email_field :email_address, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Sign Up", class: "form-button" %>
    </div>
  <% end %>
</div>
